<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>

<h1>{{>header}}</h1>

<img style="width:100px" src="img/robot.jpg" alt="robot">
<footer>
    <p>{{>footer}}</p>
</footer>
</body>
</html>