<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<h1>About page</h1>
<p>{{name}}</p>
<img style="width:100px" src="../img/robot.jpg" alt="robot">
</body>
</html>